In [1]:
n = int(input("enter the number"))
for i in range(0, n):
    for j in range(0,n):
        print("*", end =' ')
    print()

enter the number10
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [2]:
def series(num):

    list = []
    if num<=20:
        print(num, end=' ')
        num=num+1
        series(num)
        
series(10)

10 11 12 13 14 15 16 17 18 19 20

In [3]:
#recurssion
def series(num):
    if num<=20:
        print(num, end =' ')
        num = num+1
        series(num)
series(10)

10 11 12 13 14 15 16 17 18 19 20

In [4]:
n = int(input("enter the first number to start the series :-"))
m= int(input("enter the last number to end the series :- "))
for i in range(n,m+1):
    if n<=m:
        print(n, end=' ')
        n=n+1

enter the first number to start the series :-10
enter the last number to end the series :- 20
10 11 12 13 14 15 16 17 18 19 20

In [5]:
n =10
for i in range(0,n+1):
    for j in range(0,n):
        print(i, end=' ')
    print()

0 0 0 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3 3 3
4 4 4 4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6 6 6
7 7 7 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10

In [6]:
for i in range(0, n):
    for j in range(0, n+1):
        print(j, end= ' ')
    print()

0 1 2 3 4 5 6 7 8 9 10
0 1 2 3 4 5 6 7 8 9 10
0 1 2 3 4 5 6 7 8 9 10
0 1 2 3 4 5 6 7 8 9 10
0 1 2 3 4 5 6 7 8 9 10
0 1 2 3 4 5 6 7 8 9 10
0 1 2 3 4 5 6 7 8 9 10
0 1 2 3 4 5 6 7 8 9 10
0 1 2 3 4 5 6 7 8 9 10
0 1 2 3 4 5 6 7 8 9 10

In [7]:
for i in range(0, n+1 ):
    for j in range(0, n ):
        print(chr(65+i), end =" ")
    print()

A A A A A A A A A A
B B B B B B B B B B
C C C C C C C C C C
D D D D D D D D D D
E E E E E E E E E E
F F F F F F F F F F
G G G G G G G G G G
H H H H H H H H H H
I I I I I I I I I I
J J J J J J J J J J
K K K K K K K K K K

In [8]:
n = 10
for  i in range(0, n):
    for j  in range(0, n):
        print(chr(65+j), end='')
        
    print()

ABCDEFGHIJ
ABCDEFGHIJ
ABCDEFGHIJ
ABCDEFGHIJ
ABCDEFGHIJ
ABCDEFGHIJ
ABCDEFGHIJ
ABCDEFGHIJ
ABCDEFGHIJ
ABCDEFGHIJ

In [9]:
for i in range(0, n ):
    for  j in range(0, n):
        print(n-i , end =' ')
    print()

10 10 10 10 10 10 10 10 10 10
9 9 9 9 9 9 9 9 9 9
8 8 8 8 8 8 8 8 8 8
7 7 7 7 7 7 7 7 7 7
6 6 6 6 6 6 6 6 6 6
5 5 5 5 5 5 5 5 5 5
4 4 4 4 4 4 4 4 4 4
3 3 3 3 3 3 3 3 3 3
2 2 2 2 2 2 2 2 2 2
1 1 1 1 1 1 1 1 1 1

In [10]:

for i in range(1, n+1):
    for j in range(1 ,n+1):
        print(n+1-j , end="")
        
    print()

10987654321
10987654321
10987654321
10987654321
10987654321
10987654321
10987654321
10987654321
10987654321
10987654321

In [11]:
for i in range(0 , n+1 ):
    for j in range(0, n+1 ):
        print(chr(65+n-i), end =' ')
    print()

K K K K K K K K K K K
J J J J J J J J J J J
I I I I I I I I I I I
H H H H H H H H H H H
G G G G G G G G G G G
F F F F F F F F F F F
E E E E E E E E E E E
D D D D D D D D D D D
C C C C C C C C C C C
B B B B B B B B B B B
A A A A A A A A A A A

In [12]:
for i in range(0,n+1):
    for j in range(0, n+1):
        print(chr(65+n-j), end=' ')
        
    print()

K J I H G F E D C B A
K J I H G F E D C B A
K J I H G F E D C B A
K J I H G F E D C B A
K J I H G F E D C B A
K J I H G F E D C B A
K J I H G F E D C B A
K J I H G F E D C B A
K J I H G F E D C B A
K J I H G F E D C B A
K J I H G F E D C B A

In [13]:
for i in range(0,n):
    for j in range(0,i):
        print("*", end = "")
    print()

*
**
***
****
*****
******
*******
********
*********

In [14]:
for i in range(0, n):
    print("*" *i)

*
**
***
****
*****
******
*******
********
*********

In [15]:
for i in range(0,n):
    for j in range(i, n):
        print("*", end='')
    print()

**********
*********
********
*******
******
*****
****
***
**
*

In [16]:
for i in range(0,n):
    for j in range(i,n):
        print(i ,end = ' ')
    print()

0 0 0 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2
3 3 3 3 3 3 3
4 4 4 4 4 4
5 5 5 5 5
6 6 6 6
7 7 7
8 8
9

In [17]:
for i in range(0, n):
    for j in range(i, n):
        print(j, end='')
    print()

0123456789
123456789
23456789
3456789
456789
56789
6789
789
89
9

In [18]:
for i in range(0,n):
    for j in range(i, n):
        print(n-j, end='')
    print()

10987654321
987654321
87654321
7654321
654321
54321
4321
321
21
1

In [19]:
for i in range(0,n):
    for j in range(i, n):
        print(chr(65+i), end='')
    print()

AAAAAAAAAA
BBBBBBBBB
CCCCCCCC
DDDDDDD
EEEEEE
FFFFF
GGGG
HHH
II
J

In [20]:
for i in range(0, n):
    for j in range(i,n):
        print(chr(65+j), end='')
    print()

ABCDEFGHIJ
BCDEFGHIJ
CDEFGHIJ
DEFGHIJ
EFGHIJ
FGHIJ
GHIJ
HIJ
IJ
J

In [21]:
for i in range(0, n+1):
    for j in range(i, n+1):
        print(chr(65+n-i), end='')
    print()

KKKKKKKKKKK
JJJJJJJJJJ
IIIIIIIII
HHHHHHHH
GGGGGGG
FFFFFF
EEEEE
DDDD
CCC
BB
A

In [22]:
for i in range(0, n+1):
    for j in range(i, n+1):
        print(chr(65+n-j), end='')
    print()

KJIHGFEDCBA
JIHGFEDCBA
IHGFEDCBA
HGFEDCBA
GFEDCBA
FEDCBA
EDCBA
DCBA
CBA
BA
A

In [12]:
#fibbonacci
def fibb(num):
    a= 0
    b=1
    while b<num:
        print(b, end=' ')
        a,b =b,a+b
    
    
fibb(100)

1 1 2 3 5 8 13 21 34 55 89

In [24]:
for i in range(0, n):
#    for j in range(i, n):
    print(" "*(n-i), "*"*i, end=' ')
    print()

          *
         **
        ***
       ****
      *****
     ******
    *******
   ********
  *********

In [25]:
for i  in range(0, n):
    print(" "*(n-i), "*"*i, end=' ')
    print()

          *
         **
        ***
       ****
      *****
     ******
    *******
   ********
  *********

In [26]:
for i in range(0, n ):
    print(" "* (n-i), end=' ')
    for j in range(0,i):
        print("*"+' ', end='')
    print()

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *

In [27]:
for i in range(0,n ):
    print(" "*(n-i), end='')
    for j in range(0,i):
        print(str(i)+' ', end='')
    print()

         1
        2 2
       3 3 3
      4 4 4 4
     5 5 5 5 5
    6 6 6 6 6 6
   7 7 7 7 7 7 7
  8 8 8 8 8 8 8 8
 9 9 9 9 9 9 9 9 9

In [28]:
for i in range(0,n ):
    print(" "*(n-i), end='')
    for j in range(1,i):
        print(str(j)+' ', end='')
    print()

        1
       1 2
      1 2 3
     1 2 3 4
    1 2 3 4 5
   1 2 3 4 5 6
  1 2 3 4 5 6 7
 1 2 3 4 5 6 7 8

In [29]:
for i in range(1,n+1):
    print(" "*(n-i), end='')
    for j in range(1,i+1):
        print(chr(64+i)+' ', end='')
    print()

         A
        B B
       C C C
      D D D D
     E E E E E
    F F F F F F
   G G G G G G G
  H H H H H H H H
 I I I I I I I I I
J J J J J J J J J J

In [30]:
for i in range(1,n+1):
    print(" "*(n-i), end='')
    for j in range(1,i+1):
        print(chr(64+j)+' ', end='')
    print()

         A
        A B
       A B C
      A B C D
     A B C D E
    A B C D E F
   A B C D E F G
  A B C D E F G H
 A B C D E F G H I
A B C D E F G H I J

In [31]:
for i in range(0, n):
#     for j in range(0, i):
    print(" "*i, "*"*(n-i), end='')
    print()

 **********
  *********
   ********
    *******
     ******
      *****
       ****
        ***
         **
          *

In [32]:
for i in range(0,n):
#    for j in range(0,i):
    print(" "*i, "* "*(n-i), end='')
    print()

 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [33]:
for i in range(0, n):
    print(" "*i, str(n-i), end='')
    print()

 10
  9
   8
    7
     6
      5
       4
        3
         2
          1

In [34]:
for i in range(0, n):
#     for j in range(0, i):
    print(" "*i, str(i)*(n-i), end='')
    print()

 0000000000
  111111111
   22222222
    3333333
     444444
      55555
       6666
        777
         88
          9

In [35]:
for i in range(0, n):
#     for j in range(0, i):
    print(" "*i, str(n)*(n-i), end='')
    print()

 10101010101010101010
  101010101010101010
   1010101010101010
    10101010101010
     101010101010
      1010101010
       10101010
        101010
         1010
          10

In [36]:
user = int(input("Enter the number of rows: "))
for i in range(1,user+1):
    print(" " * (user+1-i) , "*" *(i*2-1) ,end="")
    print()

Enter the number of rows: 10
           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  *******************

In [37]:
n= 10
for i in range (0, n):
    for j in range(i,n):
        print(" "*i , n , end='')
# print()

 10 10 10 10 10 10 10 10 10 10  10  10  10  10  10  10  10  10  10   10   10   10   10   10   10   10   10    10    10    10    10    10    10    10     10     10     10     10     10     10      10      10      10      10      10       10       10       10       10        10        10        10         10         10          10

In [38]:
for i in range(0,n):
    print(" "*i, "* "*(n-i), end='')
    print()

 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [39]:
for i in range(1,n):
    print(" "*(n-i), "*"*(i*2-1), end='')
    print()

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************

In [40]:
for i in range(0,n):
    print(" "*(n-i), str(i)*(i*2-1),end='')
    print()

          1
         222
        33333
       4444444
      555555555
     66666666666
    7777777777777
   888888888888888
  99999999999999999

In [41]:
for i in range(0,n):
    p=i*2-1
    print(" "*(n-i), str(p)*(i*2-1),end='')
    print()

          1
         333
        55555
       7777777
      999999999
     1111111111111111111111
    13131313131313131313131313
   151515151515151515151515151515
  1717171717171717171717171717171717

In [42]:
for i in range(1,n):
    p =i
    print(" "*(n-i),end="")
    for j in range(i*2-1, 0,-1):
        print(j,end='')
    print()

         1
        321
       54321
      7654321
     987654321
    1110987654321
   13121110987654321
  151413121110987654321
 1716151413121110987654321

In [43]:
for i in range(0,n):
    print(" "*(n-i),chr(64+i)*(i*2-1), end="")
    print()

          A
         BBB
        CCCCC
       DDDDDDD
      EEEEEEEEE
     FFFFFFFFFFF
    GGGGGGGGGGGGG
   HHHHHHHHHHHHHHH
  IIIIIIIIIIIIIIIII

In [44]:
for i in range(0,n):
    p=chr(64+i*2-1)
    print(" "*(n-i), p*(i*2-1), end="")
    print()

          A
         CCC
        EEEEE
       GGGGGGG
      IIIIIIIII
     KKKKKKKKKKK
    MMMMMMMMMMMMM
   OOOOOOOOOOOOOOO
  QQQQQQQQQQQQQQQQQ

In [45]:
for i in range(1,n+1):
    print(" "*(n-i), end='')
    for j in range(i, 1,-1):
        print(j, end='')
    for k in range(1,i+1):
        print(k,end='')
    print()

         1
        212
       32123
      4321234
     543212345
    65432123456
   7654321234567
  876543212345678
 98765432123456789
109876543212345678910

In [46]:
for i in range(1,n):
    print(" "*(n-i), end='')
    for j in range(1, i+1):
        print(j, end='')
    for k in range(i-1,0,-1):
        print(k, end='')
    print()

         1
        121
       12321
      1234321
     123454321
    12345654321
   1234567654321
  123456787654321
 12345678987654321

In [47]:
for i in range(0,n):
    print(" "*(n-i), end="")
    for j in range(1,i):
        print(chr(64+j), end='')
    for k in range(i,0,-1):
        print(chr(64+k), end='')
    print()

         A
        ABA
       ABCBA
      ABCDCBA
     ABCDEDCBA
    ABCDEFEDCBA
   ABCDEFGFEDCBA
  ABCDEFGHGFEDCBA
 ABCDEFGHIHGFEDCBA

In [48]:
for i in range(0,n):
    print(" "*(n-i), end="")
    for j in range(n,i, -1):
        print(j, end='')
    print()
#    for k in range(w)

          10987654321
         1098765432
        109876543
       10987654
      1098765
     109876
    10987
   1098
  109
 10

In [49]:
for i in range(0, n):
    print(" "*(n-i), end="")
    for j in range(n,n-1-i,-1):
        print(j, end=' ')
    print()

          10
         10 9
        10 9 8
       10 9 8 7
      10 9 8 7 6
     10 9 8 7 6 5
    10 9 8 7 6 5 4
   10 9 8 7 6 5 4 3
  10 9 8 7 6 5 4 3 2
 10 9 8 7 6 5 4 3 2 1

In [50]:
for i in range(0,n):
    print(" "*i, "* "*(n-i), end= "")
    print()

 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [51]:
q=6
for i in range(1,q+1):
    q = q-1
    print(" "*i,str(q)*(q*2-1),end=" ")
    print()

  555555555
   4444444
    33333
     222
      1

In [52]:
q=5
for i in range(1,q):
    print(" "*i,end="")
    for j in range(q,0,-2):
        print(j, end="")
    print()

 531
  531
   531
    531

In [75]:
q= 11
for i in range(1,q):
    q=q+2-i
    print(" "*i,str(q)*q,end='')
    print()

  121212121212121212121212
   121212121212121212121212
    1111111111111111111111
     999999999
      666666
       22

In [54]:
q=10
for i in range(0,q):
    print(" "*i, end='')
    for j in range(q,0,-2):
        print(j-1, end="")
    print()

97531
 97531
  97531
   97531
    97531
     97531
      97531
       97531
        97531
         97531

In [73]:
n=10
for i in range(1,n):
    print(" "*i,end="")
    for j in range(1,n):
        print(j, end="")
    for k in range(j,1,-2):
        print(k-2, end='')
    print()

 1234567897531
  1234567897531
   1234567897531
    1234567897531
     1234567897531
      1234567897531
       1234567897531
        1234567897531
         1234567897531

In [5]:
n=10
for i in range(0,n):
    n=n+2-3
    print(" "*i, str(n)*n, end="")
    print()

 999999999
  88888888
   7777777
    666666
     55555
      4444
       333
        22
         1

In [21]:
n=10
for i in range(1,n+1):
    for j in range(1, n+2-i):
        print(j, end='')
    print()

12345678910
123456789
12345678
1234567
123456
12345
1234
123
12
1

In [26]:
for i in range(0,n):
    print(" "*(n-i), str(i)*(i*2-1),end='')
    print()

          1
         222
        33333
       4444444
      555555555
     66666666666
    7777777777777
   888888888888888
  99999999999999999

In [49]:
n=10
m=int(n/2)
for i in range(0,m+1):
    print(" "*(n-i),str(i*2-1)*(i*2-1), end="" )
    print()

          1
         333
        55555
       7777777
      999999999

In [64]:
n=10
n =int(n/2)
for  i in range(0, n+1):
    print(" "*(n-i), end="")
    for j in range(2*i-1, 0, -1):
        print(j, end='')
    print()

    1
   321
  54321
 7654321
987654321

In [67]:
for i in range(0, n):
    print(" "*(n-i), end="")
    for j in range(i, 0,-1):
        print(j,end="")
    for k in range(0,i+1):
        print(k, end="")
    print()

     0
    101
   21012
  3210123
 432101234

In [79]:
n=5
for i in range(0,n):
    print(" "*i,"* "*(n-i), end= "")
    print()

 * * * * *
  * * * *
   * * *
    * *
     *

In [91]:
for i in range(0,n):
    print(" "*(i), end="")
    for j in range(n,0,-2):
        print(j, end="")
    for k in range(0,n):
        print(k,end="")
    print()

53101234
 53101234
  53101234
   53101234
    53101234

In [102]:
for i in range(0,n):
    print(" "*i, str(n-i*2-1)*(n-i*2-1), end="")
    print()

 999999999
  7777777
   55555
    333
     1

In [133]:
n=10
for i in range(1,n+2):
    print(" "*(i-1), end="")
    for j in range(1,n-i):
        print(j, end="")
#     for k in range(,n):
#         print(k, end="")
    print()

12345678
 1234567
  123456
   12345
    1234
     123
      12
       1

In [146]:
n=5
for i in range(0,n):
    print("*"*i," "*(n-i), end="")
    print()
for j in range(n,0,-1):
    print("*"*j," "*i, end="" )
    print()

*
**
***
****
*****
****
***
**
*

In [174]:
for i in range(0,n+1):
    print(" "*(n-i), "* "*i, end="")
    print()
for j in range(n,0,-1):
    print( " "*(n-i)," *"*(j*2-1), end="")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * * * * * * *
  * * * * * * *
  * * * * *
  * * *
  *

In [211]:
n=5
for i in range(0,n+1):
    print(" "*(n-i), end="")
    for j in range(0,i+1):
        print("* ", end="")
    print()
for k in range(0,n+1):
    print(" "*(k+1), end="")
    for l in range(0,n-k):
        print("* ",end="")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [237]:
for i in range(0,n+1):
    print(" "*(n-i),end="")
    for j in range(0,i+1):
        print("* ", end="")
    print()
for k in range(0,n+1):
    print(" "*(k+1), end="")
    for l in range(0,n-k):
        print("* ",end="")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [49]:
n =6
for i in range(0,n):
    print(" "*(n-i), "* "*i, end='')
    print()
for j in range (0,n+1):
    print(" "*j, "* "*(n-j), end='')
    print()

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [59]:
for i in range(1,n+1):
    print(" "*(n-i), end=" ")
    for j in range(1,i+1):
        print(j, end="")
    print()
for k in range(1, n+1):
    print(" "*(k), end=" ")
    for l in range(1,n+1-k):
        print(l, end="")
    print()

     1
    12
   123
  1234
 12345
  1234
   123
    12
     1

In [123]:
for i in range(0,n+1):
    print(" "*(n-i),end='')
    for j in range(0,i+1):
        print(n-j, end="")
    print()
for k in range(0,n):
    print(" "*(k),end=" ")
    for l in range(0,n-k):
        print(n-l, end=" ")
    print()

     5
    54
   543
  5432
 54321
543210
 5 4 3 2 1
  5 4 3 2
   5 4 3
    5 4
     5

In [137]:
for i in range(0,n):
    print(" "*(n-i),end='')
    for j in range(0,i+1):
        print(n+j-i,end="")
    print()
for k in range(0,n):
    print(" "*(k),end='')
    for l in range(0,n-k):
        print(l,end='')
    print()

     5
    45
   345
  2345
 12345
01234
 0123
  012
   01
    0

In [10]:
n=10
m=20
for i in range(0,n+1):
    print(" "*(n-i),"*"*i,end='')
    print()
for j in range(0,n):
    print(" "*(n),"*"*(n-j),  end='')
    print()

          *
         **
        ***
       ****
      *****
     ******
    *******
   ********
  *********
 **********
           **********
           *********
           ********
           *******
           ******
           *****
           ****
           ***
           **
           *

In [38]:
# traffic signal
green_light =30
red_light =120
yellow_light =3
a =120
b = 60
c = 90
d = 120

print("Red_light")
for i in range (0,a+1):
    c =(a-i)
    print(c)
    if c ==0:
        print("Green_Light")
        for j in range (0,green_light+1):
            d=(green_light-j)
            print(d)
            if d==0:
                print("yellow_light")
                for k in range (3,-1,-1):
                    print(k)
                    if k ==0:
                        print("Red_light")
                        a=120
                        print(a)

Red_light
120
119
118
117
116
115
114
113
112
111
110
109
108
107
106
105
104
103
102
101
100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0
Green_Light
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0
yellow_light
3
2
1
0
Red_light
120

In [51]:
n=5
for i in range(0,n):
    print(" "*(n-i), end="")
    for j in range(0,i+1):
        print("*", end=" ")
    print()
for k in range(0,n+1):
    print(" "*k, "* "*(n-k), end="")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [2]:
a = int(input('enter the number'))
b =[]
for i in range (0,a):
    c= int(input('number'))
    b.append(c)
print(b)

enter the number5
number1
number34
number24
number35
number65
[1, 34, 24, 35, 65]